@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

h4 {
    margin-left: 1.9rem;
}

h5 {
    padding: 0.8rem 0;
}

.modal {
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.login-btn {
    background-color: #FFA92C;
    border-color: #FFA92C;
    text-transform: uppercase;
    padding: .8rem 0;
    margin: 0 3%;
}

.login-btn:hover {
    background-color: #F7991E;
    border-color: #F7991E;
}

.modal-header {
    border: 0;
}

.modal-body {
    padding-bottom: 0;
}

.modal-footer {
    border: 0;
    padding-top: 0;
}