@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.navbar {
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.55)!important;
  /* background: transparent!important; */
  transition: top 0.8s;
  top: 0;
}

.navbar--hidden {
  top: -100px;
}

.navbar-brand {
  color: #FFA92C!important;
  font-family: 'Pacifico', cursive;
  /* font-size: 1.6rem; */
}
  
.navbar-brand:hover {
  color: #ffffff!important;
}
  
.navbar-nav li {
  padding-right: .7rem;
  text-transform: uppercase;
}
  
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: .8rem;
}
  
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFA92C!important;
}

.current-user {
  color: #FFA92C;
  font-family: 'Pacifico', cursive;
  float: right;
  text-transform: capitalize;
  padding-left: 0.3rem;
}

h6 {
  color: #ffffff;
  padding-top: 1rem;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

@media (max-width: 767px) {
  .navbar-brand {
    color: #ffffff!important;
  }
}