.wizard-form {
    position: absolute;
    top: 0;
	right: 0;
    left: 0;
    height: auto;
    max-width: 700px;
    width: 95%;
    margin: 8rem auto;
    background-color: #fff;
    border-radius: 10px;


}

.step-number {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #444;
}
.error {
    border: solid #d35400 2px;

}